.background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../public/new-landing-splash2.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
}