.container {
  position: relative;
  margin-top: 0;
  // min-width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-position-y: 85%;
  background-image: url("../public/landing-splash1.webp");
  background-size: 170%;
  justify-content: center;
  background-repeat: no-repeat;

  padding-top: 32%;
  // min-height: 100vh;
  // top: 300px;

  .subTitle {
    h2 {
      margin: 0;
      // margin-bottom: -2rem;
      padding: 0;
      font-size: 80px;
      font-weight: 700;
      color: rgba(#fff, $alpha: 1.0);
      text-align: center;
      letter-spacing: 0.4rem;
    }
  }

  .mainTitle {
    h1 {
      margin: -10px 0;
      font-size: 180px;
      font-weight: 700;
      color: rgba(#fff, $alpha: 1.0);
      text-align: center;
    }
  }

  .shacoBox {
    display: flex;
    justify-content: center;
  }

  .shacoBoxBox {
    padding: 0 2rem;
    display: inline-block;
    border-radius: 20px;
    border: solid 4px white;
    box-shadow: inset 0 0 80px rgba(251, 49, 255, 0.3), inset 0 0 32px rgba(251, 49, 255, 1),
      0 0 80px rgba(251, 49, 255, 0.3), 0 0 32px rgba(251, 49, 255, 1);
  }
}.container {
  position: relative;
  margin-top: 0;
  // min-width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-position-y: 85%;
  background-image: url("../public/landing-splash1.webp");
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;

  padding-top: 50vh;
  // min-height: 100vh;
  // top: 300px;



  .subTitle {
    h2 {
      margin: 0;
      // margin-bottom: -2rem;

      padding: 0;
      font-size: 80px;
      font-weight: 700;
      color: rgba(#fff, $alpha: 1.0);
      text-align: center;
      letter-spacing: 0.4rem;
    }

    @media screen and (max-width: 1600px) {

      h2 {
        font-size: 70px;
      }
    }

    @media screen and (max-width: 1280px) {

      h2 {
        font-size: 56px;
      }
    }

    @media screen and (max-width: 860px) {

      h2 {
        font-size: 42px;
        padding-bottom: 1rem;
      }
    }

    @media screen and (max-width: 480px) {
      h2 {
        font-size: 24px;
      }
    }
  }

  .mainTitle {
    h1 {
      margin: -10px 0;
      font-size: 180px;
      font-weight: 700;
      color: rgba(#fff, $alpha: 1.0);
      text-align: center;
    }

    @media screen and (max-width: 1600px) {

      h1 {
        font-size: 140px;
      }
    }

    @media screen and (max-width: 1280px) {
      h1 {
        font-size: 120px;

      }
    }

    @media screen and (max-width: 860px) {

      h1 {
        font-size: 56px;
        margin: 0px;

      }
    }

    @media screen and (max-width: 480px) {

      h1 {
        font-size: 40px;
        margin: 0.5rem 0;

      }

    }
  }



  .shacoBox {
    display: flex;
    justify-content: center;
  }

  .shacoBoxBox {
    padding: 0 2rem;
    display: inline-block;
    border-radius: 20px;
    border: solid 4px white;
    box-shadow: inset 0 0 80px rgba(251, 49, 255, 0.3), inset 0 0 32px rgba(251, 49, 255, 1),
      0 0 80px rgba(251, 49, 255, 0.3), 0 0 32px rgba(251, 49, 255, 1);
  }
}