.container {
  min-height: 100vh;
  background-color: #354153;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  @media screen and (max-width: 1280px) {
    padding: 0 2rem;
  }
  @media screen and (max-width: 860px) {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  @media screen and (max-width: 860px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @media screen and (max-height: 480px) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .gradiend {
    position: absolute;
    height: 400px;
    width: 400px;
    background: linear-gradient(180deg, #ffe57e 9.24%, #ff0082 73.65%);
    left: -15%;
    bottom: -5%;
    animation: blobs 15s ease-in-out infinite alternate;
    @media screen and (max-width: 1280px) {
      height: 280px;
      width: 280px;
    }
    @media screen and (max-width: 860px) {
      height: 250px;
      width: 250px;
    }
    @media screen and (max-width: 480px) {
      height: 250px;
      width: 250px;
    }
    @media screen and (max-height: 480px) {
      height: 250px;
      width: 250px;
    }
  }

  @keyframes blobs {
    0% {
      border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
    }
    10% {
      border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
    }
    20% {
      border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
    }
    30% {
      border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
    }
    40% {
      border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
    }
    50% {
      border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
    }
    60% {
      border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
    }
    70% {
      border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
    }
    80% {
      border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
    }
    90% {
      border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
    }
    100% {
      border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
    }
  }
  .title {
    text-align: center;
    margin-bottom: 10rem;
    h2 {
      font-size: 70px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      text-align: center;
      white-space: nowrap;
    }
    h1 {
      font-size: 80px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 80px rgba(212, 230, 255, 0.562),
        0 0 32px rgba(23, 80, 224, 0.56);
    }
    @media screen and (max-width: 860px) {
      margin-bottom: 6rem;
      h1 {
        font-size: 60px;
      }
      h2 {
        font-size: 30px;
      }
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 4rem;
      h1 {
        margin-top: 1rem;
        font-size: 36px;
        text-align: center;
      }
      h2 {
        font-size: 28px;
      }
    }

    @media screen and (max-height: 480px) {
      margin-bottom: 4rem;
      h1 {
        margin-top: 0rem;
        font-size: 60px;
        text-align: center;
      }
      h2 {
        font-size: 40px;
      }
    }
  }
  .content {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    h2,
    p {
      white-space: nowrap;
    }
    @media screen and (max-width: 860px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .wrapper {
    width: 300px;
    height: 363px;
    display: flex;
    margin: 0 4rem;
    position: relative;
    img {
      width: 300px;
    }

    .swiper {
      width: 100%;
    }
    @media screen and (max-width: 1280px) {
      width: 200px;
      height: 242px;
      margin: 0 2rem;
      img {
        width: 200px;
        height: 242px;
      }
    }
    @media screen and (max-width: 860px) {
      margin-bottom: 2rem;
    }
    @media screen and (max-height: 480px) and (orientation: landscape) {
      scale: 0.75;
    }
  }
}

.join,
.together {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  position: relative;

  h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  p {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 1680px) {
    margin: 0 1rem;
    max-width: 400px;
    p {
      font-size: 26px;
    }
  }
}

.together {
  width: 30%;
  @media screen and (max-width: 860px) {
    padding-top: 1rem;
    max-width: 100%;
  }

  & :nth-child(2) {
    padding-top: 7rem;
    @media screen and (max-width: 860px) {
      padding-top: 3rem;
    }
    @media screen and (max-width: 480px) {
      padding-top: 3rem;
    }
    @media screen and (max-height: 480px) and (orientation: landscape) {
      padding-top: 6rem;
    }
  }
  p {
    padding-top: 0.5rem;

    @media screen and (max-width: 1680px) {
      font-size: 28px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 20px;
    }
    @media screen and (max-width: 860px) {
      padding-top: 1rem;
      max-width: 100%;
    }
    @media screen and (max-width: 480px) {
      padding-top: 0.25rem;
      max-width: 100%;
    }
    @media screen and (max-height: 480px) {
      font-size: 16px;
      padding-top: 0.25rem;
      max-width: 100%;
    }
  }
  h2 {
    position: absolute;
    top: 0;
    font-size: 60px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: Gradient 6s linear infinite;
    vertical-align: middle;
    text-align: center;

    color: #fff;
    background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%),
      linear-gradient(110deg, #c5e7d7 34%, #88d8b0 34%);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    @media screen and (max-width: 1680px) {
      font-size: 40px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
  @media screen and (max-height: 480px) and (orientation: landscape) {
    margin-left: -2rem;
  }
}

@keyframes Gradient {
  0% {
    background-position: 50% 90%;
  }
  50% {
    background-position: 5% 30%;
  }
  100% {
    background-position: 50% 90%;
  }
}

.join {
  width: 20%;
  margin-left: 10rem;
  @media screen and (max-width: 860px) {
    padding-top: 1rem;
    max-width: 100%;
  }

  & :nth-child(2) {
    padding-top: 7rem;
    @media screen and (max-width: 860px) {
      padding-top: 3rem;
    }
    @media screen and (max-width: 480px) {
      padding-top: 3rem;
    }
    @media screen and (max-height: 480px) and (orientation: landscape) {
      padding-top: 6rem;
    }
  }
  p {
    padding-top: 0.5rem;

    @media screen and (max-width: 1680px) {
      font-size: 28px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 20px;
    }
    @media screen and (max-width: 860px) {
      padding-top: 1rem;
      max-width: 100%;
    }
    @media screen and (max-width: 480px) {
      padding-top: 0.25rem;
      max-width: 100%;
    }
    @media screen and (max-height: 480px) {
      font-size: 16px;
      padding-top: 0.25rem;
      max-width: 100%;
    }
  }
  h2 {
    position: absolute;
    top: 0;
    font-size: 60px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: Gradient 6s linear infinite;
    vertical-align: middle;
    text-align: center;

    color: #fff;
    background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%),
      linear-gradient(110deg, #c5e7d7 34%, #88d8b0 34%);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    @media screen and (max-width: 1680px) {
      font-size: 40px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
  @media screen and (max-height: 480px) and (orientation: landscape) {
    margin-left: -2rem;
  }
}

@keyframes textToTop {
  0% {
    top: 0px;
    left: 0px;
  }
  2% {
    top: 6px;
    left: 6px;
  }
  50% {
    top: 6px;
    left: 6px;
  }
  52% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes textToBot {
  0% {
    top: 0px;
    left: 0px;
  }
  2% {
    top: -4px;
    left: -4px;
  }
  50% {
    top: -4px;
    left: -4px;
  }
  52% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.rotationDiv {
  // display: none;
  width: 500px;
  perspective: 20000px;
  -webkit-perspective: 20000px;
  -moz-perspective: 20000px;
  -ms-perspective: 20000px;
  transform-style: preserve-3d;
  position: relative;
  animation: rotate 4s ease-in infinite;
  @media screen and (max-width: 1440px) {
    scale: 0.65;
  }
  @media screen and (max-width: 1280px) {
    // scale: 0.5;
    width: 300px;
  }
  & div {
    position: absolute;
    width: 500px;
    height: 150px;
    margin: -70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    @media screen and (max-width: 1280px) {
      width: 300px;
      font-size: 40px;
    }
  }
  & div:nth-child(1) {
    background-color: #f917ff;
    transform: rotateX(360deg) translateZ(74px);
  }
  & div:nth-child(2) {
    background-color: #ffe57e;
    transform: rotateX(270deg) translateZ(74px);
    color: #354153;
  }
  & div:nth-child(3) {
    background: linear-gradient(180deg, #ffe57e 9.24%, #ff0082 73.65%);
    transform: rotateX(180deg) translateZ(74px);
  }
  & div:nth-child(4) {
    background: linear-gradient(180deg, #4cff27 0%, #78eb42 68.75%);
    transform: rotateX(90deg) translateZ(74px);
    color: #354153;
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  75% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
