.container {
  // min-height: 300vh;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 7rem;
  // display: flex;


  .title {
    h1 {
      font-size: 80px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      padding: 0rem 0rem 5rem 0rem;

      text-align: center;
      text-shadow: 0 0 80px rgba(212, 230, 255, 0.562), 0 0 32px rgba(23, 80, 224, 0.56);
    }
  }

  .emptyContainer {
    width: 100%;
    height: 15rem;
  }

  .roadmap {
    // padding: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .leftRow{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .rightRow{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .leftContainer {
    width: 100%;
    justify-content: right;
    // align-items: center;
  }

  .rightContainer {
    width: 100%;
    justify-content: left;
  }

  .centerLine {
    width: 0.3rem;
    height: 90rem;
    background-color: #fff;
  }

  .progressLine {
    width: 0.3rem;
    height: 90rem;
    background-color: #FFF;
    box-shadow: 0 0 16px rgba(212, 230, 255, 0.8), 0 0 8px  rgba(24, 230, 255, 0.8);
  }

  .box {
    width: 50%;
    // height: 15rem;
    margin: 3rem 0rem;
    padding: 0.5rem;
    justify-content: center;
    // background-image: linear-gradient(to right, #0092e5 0%, #6dad19 99%);
    // flex:1;
    border: 2px double transparent;
    border-radius: 20px;
    background-image:
    linear-gradient(rgb(52, 65, 83), rgb(52, 65, 83)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(24 207 104), );
    background-origin: border-box;
    background-clip: padding-box, border-box;
    // box-shadow:  0 0 32px rgba(212, 230, 255, 0.8), 0 0 8px  rgba(24, 230, 255, 0.8);

    h2 {
      font-size: 40px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      margin: 0.5rem 2rem;
      // padding: rem;
      text-align: left;
    }

    p {
      font-family: S-CoreDream-5;
      font-size: 20px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      margin: 0.5rem 2rem;
      text-align: left;
    }

  }

  .leftToCenter {
    // left:30%;
    height: 4px;
    width: 5%;
    background-color: #fff;
  }

  .rightToCenter {
    height: 4px;
    width: 5%;
    background-color: #fff;
    // visibility: hidden;
  }

}