.SequencePlayer {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  canvas {
    max-width: 100vw;
  }
}

.underground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: -100%;
  span {
    aspect-ratio: 16 / 9;
  }
  img {
    max-width: 100%;
    width: 100%;
    height: 100vh;
  }
  @media screen and (max-width: 480px) {
    span {
      aspect-ratio: 16 / 16;
    }
  }
}

.lazyrIntroContainer {
  position: fixed;
  z-index: 390;
  width: 100%;
  height: 100%;
  top: 0;
  .lazyrIntroText {
    padding: 1rem;
    height: 100%;
    width: 100%;
    position: relative;
    h1 {
      position: absolute;
      color: #fff;
      font-size: 36px;
      white-space: nowrap;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      @media screen and (max-width: 1280px) {
        font-size: 20px;    
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
      }

      @media screen and (max-width: 900px) and (max-height: 480px) {
        font-size: 18px;
      }
    }
  }
}